<div class="row text-center top-buffer-small">
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
        <h4 class="LmsPageHeader">Dashboard</h4>
    </div>
</div>

<div ng-include src="'/app/admin/users/impersonatedUserBanner.html'"></div>

<div id="Dashboard" ng-hide="shouldShowLogin">
    <div class="row">
        <div class="LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="SummaryErrorSection" ng-show="summaryError">
            <strong>{{summaryErrorMessage}}</strong>
        </div>
    </div>
    <div class="row">       
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 SpecialAttentionText">
            <strong>
              NOTE: Your Current Leave Balance may have been reset post encashment and lapse for previous year. For further details, please check 'Leave Updated History' in <a href="#/leaveHistory">Leave History</a>
            </strong>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 alert-info">
            <strong style="color: black">
              NOTE: Your Current Leave Balance may have been reset post encashment and/or lapse for 2016. For further details, please check <a href="#/leaveHistory">Leave History</a>
            </strong>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 LMSLayoutPadding" ng-repeat="statistics in dashboardSummary" ng-hide="summaryError">
            <dashboard-Statistics-Component statistics="statistics"></dashboard-Statistics-Component>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 SpecialAttentionText">
            <strong>
              For a quick overview of the application, please visit <a href="#/instructions">Instructions</a>
            </strong>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 top-buffer">
            <div class="text-center">
                <h4 class="LmsSectionHeader">Recent Leave History</h4>
            </div>
            <div class="LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="LeaveHistoryErrorSection" ng-show="leaveHistoryError">
                <strong>{{leaveHistoryErrorMessage}}</strong>
            </div>
            <div class="LMSLayoutPadding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="leave in leaveHistory">
                    <dashboard-Recent-Leave-Component leave="leave"></dashboard-Recent-Leave-Component>
                </div>
            </div>
            <div>
                <a class="ExtraLargeText pull-right" href="#/leaveHistory">...</a>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 top-buffer pull-right">
            <div class="text-center">
                <h4 class="LmsSectionHeader">Upcoming Holidays</h4>
            </div>
            <div class="LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ComingHolidaysErrorSection" ng-show="holidaysError">
                <strong>{{holidaysErrorMessage}}</strong>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 LMSLayoutPadding" ng-repeat="holiday in holidayList">
                <dashboard-Holiday-Component holiday="holiday"></dashboard-Holiday-Component>
            </div>
            <div>
                <a class="ExtraLargeText pull-right" href="#/holidayList">...</a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row text-center" ng-show="shouldShowLogin">
    <a class="btn btn-success" type="button" href="#/signin">Sign In</a>
</div>
</div>
