doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/cssBundle.min.css')
    script(type='text/javascript' src='https://code.angularjs.org/1.5.4/angular.min.js')
    script(type='text/javascript' src='/javascripts/angular-route.min.js')
    script(type='text/javascript' src='/javascripts/angular-sanitize.min.js')
    script(type='text/javascript' src='/javascripts/jquery-1.11.3.min.js')
    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/ui-bootstrap-0.13.4.min.js')
    script(type='text/javascript' src='/javascripts/ui-bootstrap-tpls-0.13.4.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js')
    script(type='text/javascript' src='https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js')
    script(type='text/javascript' src='/javascripts/trNgGrid.min.js')
    script(type='text/javascript' src='/javascripts/angular-jwt.js')
    script(type='text/javascript' src='/javascripts/nz-toggle.min.js')
    script(type='text/javascript' src='/javascripts/moment.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.3/angular-moment.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/alasql/0.2.2/alasql.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.min.js')
    script(type='text/javascript' src='/javascripts/angular-animate.min.js')
    script(type='text/javascript' src='/javascripts/angular-aria.min.js')
    script(type='text/javascript' src='/javascripts/angular-messages.min.js')
    script(type='text/javascript' src='/javascripts/angular-material.min.js')
    script(type='text/javascript' src='https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(type='text/javascript' src='scriptBundle-min.js')

    <!-- We use client cookies to save the user credentials -->
    <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>
    <!-- Auth0 Lock script and AngularJS module -->
    <script src="//cdn.auth0.com/js/lock-7.12.min.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>


  body(id='ng-app' data-ng-app='lms')
    if userAgent != 'SpiderLogic-Attendance-TrayApp' 
      .navbar.navbar-default.navbar-fixed-top(id="navigationbar" ng-controller="navbarCtrl" role="navigation")
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse' class='ToggleButtonStyle')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.logo(href='/#/' class="Cushioned") &nbsp;
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/#/dashboard' ng-show="userInfo") Dashboard
              li
                a(href='/#/attendance' ng-show="userInfo") Attendance
              li
                a(href='/#/holidayList' ng-show="userInfo") Holidays
              li(id='applyMenu' ng-show="userInfo").dropdown
                a(data-toggle='dropdown').dropdown-toogle Apply
                    b.caret
                ul.dropdown-menu
                  li
                    a(href='/#/applyForLeave') Apply for Leave
                  li
                    a(href='/#/applyForCompOff') Comp-Off Accrual
              li(id='historyMenu' ng-show="userInfo").dropdown
                a(data-toggle='dropdown').dropdown-toogle History
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/#/leaveHistory') Leave History
                  li
                    a(href='/#/compOffHistory') Comp-Off History
              li(id='adminMenu' ng-show="userInfo && userInfo.IsAdmin === true").dropdown
                a(data-toggle='dropdown').dropdown-toogle Admin
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/#/adminAttendance') Attendance
                  li
                    a(href='/#/adminApprovals') Approvals
                  li
                    a(href='/#/adminLeaveCredit') Leave Credit
                  li
                    a(href='/#/adminReports') Reports
                  li
                    a(href='/#/adminUsers') Users
            div.pull-right(ng-class='userBox.BoxClass' ng-show='userInfo' ng-click='onUserBoxClicked();' class='Cushioned')
              img(alt='User' title = 'User' height='25' width='25' ng-src='{{userBox.Image}}')
              span(class='LMSLayoutSmallPadding') {{userBox.Name}}
            div.pull-right(ng-show='userInfo && userInfo.IsAdmin === true' class='Cushioned {{selectedLocation.Name}}LocationBox')
              img(alt='Location' title = 'Location' height='25' width='25' src='images/location.png')
              select(ng-change='onLocationChanged(selectedLocation)' ng-model='selectedLocation' ng-options='locationOption.Name for locationOption in locationOptions  track by locationOption.id')
    else
      div(class="container" style="background:#1995dc;height:50px")
        div(class="col-lg-2 col-md-2 col-sm-8 col-xs-8 pull-right" id="TrayApp") SpiderLogic Attendance TrayApp
            style.
              body {
                  background:;
                  font-size: 18px;
                  font-weight:bold;
              } 
          img(alt='Location' title = 'Location' height='30' width='75' src='images/logo.png' style="margin-top:5px")     

    div(class="EmptyRow")
    #wrap
        div(class='container')
            div
              block content
              input(type="hidden",id="userAgent", name="userAgent", value="#{userAgent}")
        #push
    #footer
     if userAgent != 'SpiderLogic-Attendance-TrayApp'
        .container
          div(id="navigationFooterBar" ng-controller="navbarCtrl" class="row")
            div(class="col-lg-2 col-md-2 col-sm-8 col-xs-8 pull-right")
              a(href='/#/instructions') Instructions
            div(class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-muted")
              © 2016, SpiderLogic, Leave Management System
              a(href='/#/contributors') ...
