<div class="row text-center top-buffer-small" id="Heading">
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
    <h4 class="LmsPageHeader">Attendance</h4>
  </div>
</div>
<div ng-show="attendanceForUser==null || edit == 2">
  <div class="row LMSLayoutPadding alert alert-danger buffer-small" id="ErrorMessage" ng-show="error">
    <strong>{{errorMessage}}</strong>
  </div>

  <div class="row" id="editAttendance" ng-show="attendanceForUser==null || edit==2">
    <div class="col-sm-3 col-xs-2"></div>
    <div class="btn-group-vertical btn-lg col-sm-3 col-xs-5" id="FirstHalf" data-toggle="collapse">
      <h3>First Half</h3>
      <label class="btn btn-success active ng-untouched ng-valid ng-dirty active ng-not-empty ng-valid-parse" ng-model="firstHalf"
        uib-btn-radio="1" checked ng-style="style1" ng-click="style1={'background-color' : '#035b15'}">In Office</label>
      <label class="btn btn-primary" ng-model="firstHalf" uib-btn-radio="2" ng-style="style2" ng-click="style2={'background-color' : '#0351c6 '}">Work from Home</label>
      <label class="btn btn-warning" ng-model="firstHalf" uib-btn-radio="3" ng-style="style3" ng-click="style3={'background-color' : '#e26d06'}">Official Travel</label>
      <label class="btn btn-danger" ng-model="firstHalf" uib-btn-radio="4" ng-style="style4" ng-click="style4={'background-color' : '#911419'}">Leave</label>
    </div>

    <div class="btn-group-vertical btn-lg col-sm-3 col-xs-5" id="SecondHalf" data-toggle="collapse">
      <h3>Second Half</h3>
      <label class="btn btn-success active ng-untouched ng-valid ng-dirty active ng-not-empty ng-valid-parse" ng-model="secondHalf"
        uib-btn-radio="1" checked ng-style="style5" ng-click="style5={'background-color' : '#035b15'}">In Office</label>
      <label class="btn btn-primary" ng-model="secondHalf" uib-btn-radio="2" ng-style="style6" ng-click="style6={'background-color' : '#0351c6 '}">Work from Home</label>
      <label class="btn btn-warning" ng-model="secondHalf" uib-btn-radio="3" ng-style="style3" ng-click="style3={'background-color' : '#e26d06'}">Official Travel</label>
      <label class="btn btn-danger" ng-model="secondHalf" uib-btn-radio="4" ng-style="style8" ng-click="style8={'background-color' : '#911419'}">Leave</label>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row" id="CommentsSection" ng-hide="firstHalf==1 && secondHalf==1">
    <div class="col-sm-3 col-xs-2"></div>
    <div class="col-sm-1 col-xs-2">
      <label class="lblForComments" name="CommentsSection">Comments*</label>
    </div>
    <div class="col-sm-3 col-xs-3">
      <!--<textarea class="" ng-model="comments" placeholder="Comments are mandatory" rows="3" cols="40" ng-required="comments"></textarea>-->
      <textarea class="form-control row-fluid" id="form-comments" name="form-comments" placeholder="Comments are mandatory..."
        ng-model="comments" ng-required="commentsRequired" rows="3"></textarea>
    </div>
    <div class="col-sm-5 col-xs-5">
    </div>
  </div>
  <div class="row" id="MessageRecipients" ng-hide="firstHalf==1 && secondHalf==1" style="padding: 24px;padding-left: 0px">
    <div class="col-sm-3 col-xs-2"></div>
    <div class="col-sm-1 col-xs-2">
      <label class="lblForRecipients"> Recipients*</label>
    </div>
    <div class="col-sm-3 col-xs-5">
      <ui-select ng-model="selected.value" multiple limit="10" tagging="tagTransform" tagging-tokens="SPACE|,|/" theme="selectize">
        <ui-select-match placeholder="Select recipients...">
          {{$item.FullName}} &lt;{{$item.OfficialEmailId}}&gt;
        </ui-select-match>
        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.Id">
          {{item.FullName}}&nbsp;&lt;{{item.OfficialEmailId}}&gt;
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-sm-5 col-xs-3"></div>
  </div>
  <div class="row text-center" id="submit">
    <div class="col-sm-5 col-xs-6"></div>
    <div class="col-sm-2 col-xs-2">
      <button type="submit" class="btn btn-info" ng-click="markAttendance()">Submit</button>
    </div>
    <div class="col-sm-5 col-xs-4"></div>
  </div>
</div>
<div class="viewAttendance" ng-hide="attendanceForUser==null || edit==2">
  <div class="row">
    <div class="col-sm-3 col-xs-2"></div>
    <div class="col-sm-3 col-xs-4">
      <div class="row">
        <h4 class="LmsPageHeader">First Half</h4>
      </div>
      <div class="row">
        <label class="btn btn-success btn-block" ng-if="attendanceForUser.FirstHalf==1" disabled>In Office</label>
        <label class="btn btn-primary btn-block" ng-if="attendanceForUser.FirstHalf==2 " disabled>Work from Home</label>
        <label class="btn btn-warning btn-block" style="background: #ef7002" ng-if="attendanceForUser.FirstHalf==3 " disabled>Official Travel</label>
        <label class="btn btn-danger btn-block" ng-if="attendanceForUser.FirstHalf==4 " disabled>Leave</label>
      </div>
    </div>
    <div class="col-sm-1 col-xs-1"></div>
    <div class="col-sm-3 col-xs-4">
      <div class="row">
        <h4 class="LmsPageHeader">Second Half</h4>
      </div>
      <div class="row">
        <label class="btn btn-success btn-block" ng-if="attendanceForUser.SecondHalf==1" disabled>In Office</label>
        <label class="btn btn-primary btn-block" ng-if="attendanceForUser.SecondHalf==2 " disabled>Work from Home</label>
        <label class="btn btn-warning btn-block" style="background: #ef7002" ng-if="attendanceForUser.SecondHalf==3 " disabled>Official Travel</label>
        <label class="btn btn-danger  btn-block" ng-if="attendanceForUser.SecondHalf==4 " disabled>Leave</label>
      </div>
    </div>
    <div class="col-sm-2 col-xs-1"></div>
  </div>
  <a href="/#/attendance " class="text-center" ng-model="edit " ng-hide="edit==3|| edit==0" ng-click="editAttendance() ">Edit</a>
</div>