<div class="LeaveSummaryLine">
    <span class="{{$ctrl.leave.StatusClass}}">{{$ctrl.leave.Status}}:</span>
    <span class="LmsSpecialTallText">{{$ctrl.leave.LeaveDays}}</span> day(s) of
    <span class="LmsSpecialText">{{$ctrl.leave.LeaveType}}</span> leave between
    <span class="LmsSpecialText">{{$ctrl.leave.FromDate}}</span> and
    <span class="LmsSpecialText">{{$ctrl.leave.ToDate}}</span>
</div>
