<div class="DashboardStatisticsBox">
    <div class="DashboardNumber">
        {{$ctrl.statistics.Value}}
    </div>
    <div class="LmsSpecialText">
        {{$ctrl.statistics.Name}}
    </div>
</div>
