<div class = 'CalenderHolidayDay'>
  <div class="CalenderHolidayFirstRow">{{$ctrl.holiday.ActualDate.split(',')[0]}}</div>
 <div ng-class="{'CalenderHolidayMiddleRow': !$ctrl.holiday.IsRestricted, 'CalenderHolidayMiddleRow RestrictedHoliday' : $ctrl.holiday.IsRestricted === true}">{{$ctrl.holiday.Description}}</div>
  <div ng-class="{'CalenderHolidayLastRow': !$ctrl.holiday.IsRestricted, 'CalenderHolidayLastRow RestrictedHoliday' : $ctrl.holiday.IsRestricted === true}">{{$ctrl.holiday.ActualDate.split(',').splice(1).join("")}}</div>
  
</div>
