<div class="margin-top-8">
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <img ng-src="images/unAuthorize.png">
        </div>
        <div class="col-md-4 col-md-offset-0">

            <h2>UH OH, WE CAN'T ACCOUNT FOR THIS</h2>
            <h4> The page you are looking for doesn't exist or another error occurred.Please try searching for another page on the site. </h4>

        </div>
    </div>
</div>