<div>
  <div class="modal-header">
    <h3 class="modal-title">Warning!</h3>
  </div>
  <div class="modal-body">
    {{modalDialogMessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" type="button">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
  </div>

</div>
