<div class="text-center top-buffer-small">
    <div class="col-xs-4 col-xs-offset-4">
        <h4 class="LmsPageHeader">Administration</h4>
    </div>
</div>
<br>

<div id="Admin" ng-hide="error">
    <div class="row">
        <div class="col-xs-7 top-buffer">
            <h5 class="LmsPageHeader">Request approvals for leaves and compensatory-offs</h4>
        <a class="btn btn-success" type="button" href="#/adminApprovals">Approvals</a>
    </div>
    <div class="col-xs-5 top-buffer">
      <h5 class="LmsPageHeader">Reports</h4>
        <a class="btn btn-success" type="button" href="#/adminReports">Reports</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 top-buffer">
    </div>
    <div class="col-xs-5 top-buffer">
      <h5 class="LmsPageHeader">Users and user management</h4>
        <a class="btn btn-success" type="button" href="#/adminUsers">Users</a>
    </div>
  </div>
</div>
