body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.logo
	background-image:url('../images/logo.png')
	width:170px
.holidayHead
	text-align:center
	border-right:1px solid #fff
.holidayRow
	color:#333
	border-bottom:1px solid #ebebeb
