<div class="row text-center top-buffer-small">
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
        <h4 class="LmsPageHeader">Instructions</h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 LMSStickyNote LMSStickyNoteSetTwo">
        <h4>About LMS</h4>
        <p class="small">
            <strong><a href="#/dashboard">Dashboard:</a></strong> Dashboard has your current leave balance, Annual Leave applied (YTD) and Annual Leaves approved (YTD). It also displays the comp-off balance as of the current date. You can see your recent
            Leave History too. In the same section, there is a link on the bottom-right corner which takes you to the Leave History page. In the Dashboard page, 3 upcoming holidays are also shown.
        </p>
        <p class="small">
            You can see the complete list of <strong><a href="#/holidayList">Holidays</a></strong> for the year, either by clicking on 'Holidays' in the top menu or by clicking on the link on the bottom-right corner of the Upcoming Holidays section in
            the Dashboard page.
        </p>
        <p class="small">
            <strong><a href="#/applyForCompOff">Comp-off Accrual:</a></strong> You should use this feature to request for compensatory-off accrual. For example, if you have worked on 31-Jul-2016, which was a Sunday, use this page to request for a comp-off,
            by providing the From and To Dates as 31-Jul-2016 and filling up relevant comments.
            <br /><strong>Please note:</strong> To utilize one of your already approved compensatory-offs, you should follow the leave apply process.
        </p>
        <p class="small">
            <strong><a href="#/applyForLeave">Apply for Leave:</a></strong> Use this screen, to request for Annual Leave. In case there are approved comp-offs, they will automatically be considered against leave requests, as is evident from the “Comp-Off?”
            column in the “Apply for Leave” form. However, you can choose to avail the comp-off or keep it for later. But note that the comp-offs have to be availed within 60 working days of the date you worked on ('Worked On' date in your comp-off request),
            <a href="https://spiderlogic.jira.com/wiki/display/SIP/Leave+Policy+-+SpiderLogicIndia#LeavePolicy-SpiderLogicIndia-Compensatoryoff" target="_blank">post which they expire</a>. While applying for Leave, if your current balance (including the comp-off balance) is less
            than 0.5, you will see an option to apply for a Leave without pay (You will see 'Loss Of Pay' option in the Leave Type dropdown).
        </p>
        <p class="small">
            <strong><a href="#/leaveHistory">Leave History:</a></strong> As the name suggests, this is a page where you get the list of all your Leave applications till date. You will know if a particular leave was availed as a comp-off or if it was a
            Loss of Pay or a normal Annual Leave. If a Leave Request hasn't been approved yet, you will have an option to Cancel the same. There is also a section at the bottom of the page, which displays the Leave Accrual history. Currently, it displays
            the one-time credit that was done at the time of LMS' launch and also the Monthy credit as per policy guidelines.
        </p>
        <p class="small">
            <strong><a href="#/compOffHistory">Comp-Off History:</a></strong> In this page, you can see the list of Comp-off requests you have submitted and their current statuses. This also has details about when the current comp-off Expires and in case
            if a comp-off has been availed, on what date was it availed. There is a dashboard which displays the comp-offs pending approval, comp-off balance as of current date and the comp-offs availed (YTD)
        </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 LMSStickyNote">
        <h4>Leave Policy</h4>
        <p class="small">
            Please visit <a href="https://spiderlogic.jira.com/wiki/display/SIP/Leave+Policy+-+SpiderLogicIndia" target="_blank">Leave Policy - SpiderLogicIndia</a> on confluence for the leave policy.
        </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 LMSStickyNote LMSStickyNoteSetOne">
        <h4>Feedback</h4>
        <p class="small">
            For feedback or for logging issues or for feature requests, please log appropriate Jira tasks in this <a href="https://spiderlogic.jira.com/secure/RapidBoard.jspa?rapidView=403" target="_blank">Jira board</a>.
        </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 LMSStickyNote LMSStickyNoteSetTwo">
        <h4>Contact Us</h4>
        <p class="small">
            Please contact the admin team (blr-admin@wipfli.com) in case you have questions or clarifications related to LMS application.
        </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 LMSStickyNote">
        <h4>Work From Home, Travel, Training etc </h4>
        <p class="small">
            Please continue to use emails to "Spider OOO" for managing work-from-home, travel and training, as it is done now. LMS currently handles only leaves and Comp-Offs.
        </p>
    </div>
</div>
