<div ng-controller="adminAttendanceCtrl as atdCtrl">

    <div ng-if="atdCtrl.isAdmin">

        <!--Admin attendance title-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 col-lg-8 col-lg-offset-2 text-center">
                <h4 class="LmsSectionHeader"> Edit employee attendance, Check employee attendance status and add/update leave credit entry</h4>
            </div>
        </div>

        <!--Select Employee Markup-->
        <div class="row LMSLayoutPadding">
            <div class="col-md-8 col-md-offset-4 LMSLayoutPadding">
                <div class="col-md-2">
                    <h4><strong>Select Employee</strong></h4>
                </div>
                <div class="col-md-5">
                    <input class="form-control" id="form-searchEmployee" ng-model="atdCtrl.selectedUser" placeholder="Search for employee ..." type="text" typeahead-editable='false' typeahead-focus-first='false' typeahead-loading="loadingEmployees" typeahead-no-results="noResults" typeahead-template-url="templates/customTemplate.html" uib-typeahead="employee for employee in searchEmployee($viewValue)" />
                    <i class="glyphicon glyphicon-refresh" ng-show="loadingEmployees"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
        </div>

        <!--Attendnace Edit/ Status and Credit Leave Entry container-->
        <div class="row" ng-show="atdCtrl.selectedUser !=null">
            <!--Row for Tabs-->
            <div ng-hide="error">
                <div class="LMSLayoutPadding col-sm-12" id="TabsSection">
                    <uib-tabset justified="true">
                        <uib-tab heading="View and Edit Employee Attendnace" active="editEmployeeTabActive">
                            <div ng-include src="'/app/admin/attendance/editAttendance.html'"></div>
                        </uib-tab>
                        <uib-tab heading="Leave Credit Entry" active="leaveCreditTabActive">
                            <div ng-include src="'/app/admin/attendance/creditLeave.html'"></div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!atdCtrl.isAdmin">
        <div ng-include src="'/templates/unAuthorizeTemplate.html'"></div>
    </div>

</div>