<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading panelHeader">Add or Update Leave Credit Entry</div>
                    <div class="panel-body">
                        <!--Update credit leave Panel body -->
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>Leave Type</strong></h5>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control">
                                    <option value="?" selected="selected"></option>
                                    <option label="Annual" value="1">Annual</option>
                                    <option label="Maternity" value="3">Maternity</option>
                                    <option label="LossOfPay" value="4">LossOfPay</option>
                                    <option label="Paternity" value="5">Paternity</option>
                                </select>
                            </div>
                        </div>                    
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>Leave Credit Type</strong></h5>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control">
                                    <option value="?" selected="selected"></option>
                                    <option label="Monthly" value="1">Monthly</option>
                                    <option label="Manual" value="2">Manual</option>
                                </select>
                            </div>
                        </div>
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>Credited Leave</strong></h5>
                            </div>
                            <div class="col-md-5">
                                <input type="number" class="form-control"/>
                            </div>
                        </div>
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>Comments</strong></h5>
                            </div>
                            <div class="col-md-5">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">

                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-success btn-block">Add/Update</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-show="true">
                  <div class="panel panel-default">
                    <div class="panel-heading panelHeader">Leave Credit Entry History</div>
                    <div class="panel-body">
                        <!--Credit leave history Panel body -->
                       
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>