<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading panelHeader">View and Edit employee attendnace</div>
                    <div class="panel-body">
                        <!--Edit Attendnace Panel body -->
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>Select Date</strong></h5>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input class="form-control NonStandardControl" close-text="Close" datepicker-options="dateOptions" id="form-fromdate" is-open="from.opened" 
                                    max-date="from.maxDate" min-date="from.minDate" name="form-fromdate" ng-change="onFromDateChange()" ng-model="atdCtrl.selectDate"  ng-readonly="true" 
                                    show-weeks='false' type="text" uib-datepicker-popup="{{dateFormat}}"></input>
                                    <span class="input-group-btn">
                                        <button id="fromDateBtn" class="btn btn-default NonStandardControl" ng-click="openFrom($event)" type="button">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>First Half</strong></h5>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control selectpicker" ng-disabled="!atdCtrl.isDateSet()" ng-model="atdCtrl.employeeAttendnace.firstHalf"> 
                                    <option ng-repeat="attendanceStatusName in atdCtrl.attendanceStatusNames" 
                                    value="{{attendanceStatusName.ID}}" label="{{attendanceStatusName.Name|giveSpaceBetweenTwoWord}}">{{attendanceStatusName.Name|giveSpaceBetweenTwoWord}}</option>
                               </select>
                            </div>
                        </div>
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>Second Half</strong></h5>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control selectpicker" ng-disabled="!atdCtrl.isDateSet()" ng-model="atdCtrl.employeeAttendnace.secondHalf">
                                    <option ng-repeat="attendanceStatusName in atdCtrl.attendanceStatusNames" 
                                    value="{{attendanceStatusName.ID}}" label="{{attendanceStatusName.Name|giveSpaceBetweenTwoWord}}">{{attendanceStatusName.Name|giveSpaceBetweenTwoWord}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">
                                <h5><strong>Comments</strong></h5>
                            </div>
                            <div class="col-md-5" >
                                <textarea class="form-control" rows="3" ng-disabled="!atdCtrl.isDateSet()" ng-model="atdCtrl.employeeAttendnace.comments"></textarea>
                            </div>
                        </div>
                        <div class="row LMSLayoutPadding">
                            <div class="col-md-3 col-md-offset-1">

                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-success btn-block" ng-disabled="!atdCtrl.isDateSet()">Update</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-show="atdCtrl.isDateSet()">
                <div class="panel panel-default">
                    <div class="panel-heading panelHeader">Current attendnace Status</div>
                    <div class="panel-body">
                        <div class="attendance-panel-body">
                            <!--Current Attendnace Status Panel body -->
                            <div class="row LMSLayoutPadding">
                                <div class="col-md-3 col-md-offset-1">
                                    <h5><strong>Date</strong></h5>
                                </div>
                                <div class="col-md-8">
                                    <!--Todo: Use common date format filter-->
                                    <label class="LmsControlHeader pull-left">{{atdCtrl.selectDate | date: "dd/MMM/y"}}</label>
                                </div>
                            </div>

                            <div class="row LMSLayoutPadding">
                                <div class="col-md-3 col-md-offset-1">
                                    <h5><strong>First Half</strong></h5>
                                </div>
                                <div class="col-md-8">
                                    <label class="LmsControlHeader pull-left">{{atdCtrl.employeeAttendnace.firstHalf}}</label>
                                </div>
                            </div>

                            <div class="row LMSLayoutPadding">
                                <div class="col-md-3 col-md-offset-1">
                                    <h5><strong>Second Half</strong></h5>
                                </div>
                                <div class="col-md-8">
                                    <label class="LmsControlHeader pull-left">{{atdCtrl.employeeAttendnace.secondHalf}}</label>
                                </div>
                            </div>

                            <div class="row LMSLayoutPadding">
                                <div class="col-md-3 col-md-offset-1">
                                    <h5><strong>Comments</strong></h5>
                                </div>
                                <div class="col-md-8">
                                    <label class="LmsControlHeader pull-left">{{atdCtrl.employeeAttendnace.comments}}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>