<div class="row LMSLayoutPadding alert alert-danger buffer-small" id="ErrorMessage" ng-show="error">
	<strong>{{errorMessage}}</strong>
</div>

<div id="ChooseRestrictedHoliday"  ng-class="{'hidden' : error || !showRestrictedHolidaySection || restrictedHolidaySelected}"   class="row LMSLayoutPadding">
	<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2 LMSLayoutPadding">
		<div class="CalenderHolidayDay RestrictedHolidaySection">
			<h4 class='LMSLayoutSmallPadding' style="text-align: center;">Restricted Holiday : Please choose the Holiday of your preference </h4>
			<div class="btn-group ApplyBtnGroup LMSLayoutPadding" style="align-content: center;">
				<label class="btn btn-primary" ng-model="restrictedHolidayId" uib-btn-radio="1">Ugadi : 29th March 2017</label>
				<label class="btn btn-primary" ng-model="restrictedHolidayId" uib-btn-radio="2">Ramzan : 26th June 2017</label>
			</div>
			<div class="LMSLayoutPadding" style="text-align: center; color: #ff0000;font-weight: bold;" ng-show="restrictedHolidayId">
				Note: Once you choose a day, there will not be any possibility to change it later. Are you sure of your selection?
			</div>
			<div class="LMSLayoutSmallPadding" style="text-align: center; color: #ff0000;" ng-show="restrictedHolidayId">
				Please contact Arjun to Cancel any leave that you might have taken on the selected date or spanned multiple days.
			</div>
			<div class="LMSLayoutPadding">
				<button class="btn btn-success" ng-disabled="!restrictedHolidayId" id="submitBtn" data-ng-click="submit()">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="row text-center top-buffer-small">
	<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
		<h4 class="LmsPageHeader">Holiday List</h4>
	</div>
</div>
<div id="HolidayList" ng-hide="error">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 buffer-small" ng-repeat="holiday in holidayList">
			<dashboard-Holiday-Component holiday="holiday"></dashboard-Holiday-Component>
		</div>
	</div>
</div>