<div ng-controller="leaveEncashmentReportCtrl">
    <div class="row">
        <div class="help-block"></div>
    </div>
    <div class="row">
        <div class="help-block"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2 text-center">
            <h4 class="LmsSectionHeader">Leave Encashment Report</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 pull-right">
            <button class="btn btn-primary pull-right top-bottom-buffer-small" id="export" data-ng-click="exportLeaveEncashment()">Export</button>
        </div>
    </div>
    <div class="row table-responsive">
        <table tr-ng-grid="" class="top-bottom-buffer-small" enable-filtering="true" enable-selections="false" enable-sorting="true" fields="['EmployeeId', 'FullName', 'DateOfJoining', 'OpeningBalance', 'Accrued', 'TotalLeaves', 'Utilized', 'Balance', 'Expiring', 'Encashable', 'BalanceAfterEncashment']" items="leaveEncashmentReportList" order-by="DateOfJoining"
            page-items="15">      
            <thead>
                <tr>
                    <th cell-width="10em" display-name="Employee Id" field-name="id"></th>
                    <th cell-width="10em" display-name="Joining Date" enable-filtering="true" field-name="DateOfJoining" display-format="date: '{{displayDateFormat}}'"></th>
                </tr>
            </thead>     
        </table>
    </div>
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-danger" href='/#/adminReports'>Back to Reports</a>
        </div>
    </div>
</div>