<div ng-controller="newJoineeReportCtrl">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2 text-center">
            <h4 class="LmsSectionHeader">New Joiner Report</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
            <label class="LmsControlHeader pull-right" for="form-fromMonth">From</label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <select class="form-control" id="form-fromMonth" name="form-fromMonth" ng-model="selectedFromMonth" ng-options="fromMonth.Description for fromMonth in fromMonths  track by fromMonth.id"></select>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
            <label class="LmsControlHeader pull-right" for="form-toMonth">To</label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <select class="form-control" id="form-toMonth" name="form-toMonth" ng-model="selectedToMonth" ng-options="toMonth.Description for toMonth in toMonths  track by toMonth.id"></select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
            <button class="btn btn-success pull-right top-bottom-buffer-small" id="export" data-ng-click="getReport()">Get Report</button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
            <button class="btn btn-primary pull-right top-bottom-buffer-small" id="export" data-ng-click="export()">Export</button>
        </div>
    </div>
    <div class="row table-responsive">
        <table tr-ng-grid="" class="top-bottom-buffer-small" enable-filtering="true" enable-selections="false" enable-sorting="true" fields="['id', 'FirstName', 'LastName', 'DateOfJoining', 'Location', 'AddedBy' ]" items="newJoineeReporttList" order-by="DateOfJoining"
            page-items="15">
            <thead>
                <tr>
                    <th cell-width="10em" display-name="Employee Id" field-name="id"></th>
                    <th cell-width="10em" display-name="Joining Date" enable-filtering="true" field-name="DateOfJoining" display-format="date: '{{displayDateFormat}}'"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-danger" href='/#/adminReports'>Back to Reports</a>
        </div>
    </div>
</div>
