<br>
<br>
<br>
<div class="row">
<div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
    <ul class="LmsSpecialTallText">
        <li><a href='/#/leaveSummaryReport'>Leave Summary Report</a></li>
        <li><a href='/#/leaveBalanceReport'>Leave Balance Report</a></li>
        <li><a href='/#/newJoineeReport'>New Joiner Report</a></li>
        <li><a href='/#/employeeExitReport'>Employee Exit Report</a></li>
        <li><a href='/#/lossOfPayReport'>Loss Of Pay Report</a></li>
        <li><a href='/#/leaveEncashmentReport'>Leave Encashment Report</a></li>
        <li><a href='/#/compOffExpiryReport'>Comp-Off Expiry Report</a></li>
    </ul>
</div>
</div>
