<div class="CalenderHolidayDay">
  <div class="CalenderHolidayFirstRow">{{$ctrl.holiday.ActualDate.split(',')[0]}}</div>
  <div class="CalenderHolidayMiddleRow">{{$ctrl.holiday.Description}}</div>
  <div class="CalenderHolidayLastRow">{{$ctrl.holiday.ActualDate.split(',').splice(1).join("")}}</div>
</div>
