<md-dialog aria-label="Confirm Dialog" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Confirm</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                    </svg>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Admin Confirmation - {{requestType}} approval</h2>
                <div class="row LMSLayoutPadding">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="LmsControlHeader pull-right" for="form-newStatus">New Status</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <status-Keyword-Component status="newStatus"></status-Keyword-Component>
                    </div>
                </div>
                <div class="row LMSLayoutPadding">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="LmsControlHeader pull-right" for="form-comments">Comments*</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <textarea class="form-control row-fluid" id="form-comments" name="form-comments" placeholder="Comments are mandatory for Reject and Cancel..." ng-model="details.comments" rows="3"></textarea>
                    </div>
                </div>

                <div class="row LMSLayoutPadding adminConfirmationHeader" ng-show="requestType == 'Leave'">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 rowCell">Name</div>
                    <div class="col-lg-2 col-md-1 col-sm-6 col-xs-6 rowCell">From</div>
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 rowCell">Leave Days</div>
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 rowCell">CO Days</div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowCell">Comments</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 rowCell">Status</div>
                </div>
                <div class="row LMSLayoutSmallPadding adminConfirmationBody" ng-repeat="selectedLeave in selectedLeaves" ng-show="requestType == 'Leave'">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 rowCell">{{selectedLeave.FirstName}} {{selectedLeave.LastName}}</div>
                    <div class="col-lg-2 col-md-1 col-sm-6 col-xs-6 rowCell">{{selectedLeave.FromDate | date:displayDateFormat}}</div>
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 rowCell">{{selectedLeave.TotalLeaveDays}}</div>
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 rowCell">{{selectedLeave.TotalCompOffDays}}</div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowCell">{{selectedLeave.Comments}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 rowCell">
                        <status-Keyword-Component status="selectedLeave.Status"></status-Keyword-Component>
                    </div>
                </div>

                <div class="row LMSLayoutPadding adminConfirmationHeader" ng-show="requestType == 'CompOff'">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 rowCell">Name</div>
                    <div class="col-lg-2 col-md-1 col-sm-5 col-xs-5 rowCell">Worked On</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 rowCell">Days</div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowCell">Comments</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 rowCell">Status</div>
                </div>
                <div class="row LMSLayoutSmallPadding adminConfirmationBody" ng-repeat="selectedCompOff in selectedCompOffs" ng-show="requestType == 'CompOff'">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 rowCell">{{selectedCompOff.FirstName}} {{selectedCompOff.LastName}}</div>
                    <div class="col-lg-2 col-md-1 col-sm-5 col-xs-5 rowCell">{{selectedCompOff.FromDate}}</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 rowCell">{{selectedCompOff.TotalDays}}</div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowCell">{{selectedCompOff.Comments}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 rowCell">
                        <status-Keyword-Component status="selectedCompOff.Status"></status-Keyword-Component>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions class="dialogActions" layout="row">
            <span flex></span>
            <button id="CancelBtn" class="btn btn-danger" ng-click="answer('Cancel')">Cancel</button>
            <button id="OkBtn" class="btn btn-success" ng-click="answer('Ok')">Ok</button>
        </md-dialog-actions>
    </form>
</md-dialog>
