<div ng-controller="compOffHistoryCtrl">
	<div class="row text-center top-buffer-small">
		<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
			<h4 class="LmsPageHeader">Compensatory-Off History</h4>
		</div>
	</div>
	<div class="row" ng-include src="'/app/admin/users/impersonatedUserBanner.html'"></div>
	<div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
		<strong>{{errorMessage}}</strong>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 LMSLayoutPadding" ng-repeat="statistics in compOffSummary" ng-hide="error">
			<dashboard-Statistics-Component statistics="statistics"></dashboard-Statistics-Component>
		</div>
	</div>
	<div class="row table-responsive" id="CompOffHistory" ng-hide="error">
		<table tr-ng-grid="" items="compOffHistory" fields="['RequestId', 'AppliedOn', 'CompOffDate', 'NoOfDays', 'AvailedOn', 'ExpiresOn', 'Comments',  'Status']" enable-filtering="true" enable-sorting="true" selection-mode="none" page-items="15">
			<thead>
				<tr>
					<th cell-width="6em" display-name="Request Id" field-name="RequestId"></th>
					<th cell-width="8em" field-name="AppliedOn" display-name="Applied On" enable-filtering="true" enable-sorting="true" display-format="date: '{{displayDateFormat}}'"></th>
					<th cell-width="8em" field-name="CompOffDate" display-name="Worked On" enable-filtering="true" enable-sorting="true" display-format="date: '{{displayDateFormat}}'"></th>
					<th cell-width="6em" field-name="NoOfDays"></th>
					<th cell-width="10em" field-name="AvailedOn" enable-filtering="false" enable-sorting="false"></th>
					<th cell-width="8em" field-name="ExpiresOn" display-name="Expires On" enable-filtering="true" enable-sorting="true" display-format="date: '{{displayDateFormat}}'"></th>
					<th cell-width="10em" field-name="Status"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<button ng-if="gridItem.Status == 'Applied' " class="btn btn-danger" ng-click="cancelCompOff(gridItem.RequestId)">
							Cancel
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
