<div ng-controller="leaveHistoryCtrl">
    <div id='LeaveEncashmentDetails' ng-if="leaveEncashmentDetails">
        <div class="row text-center top-buffer-small">
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
                <h4 class="LmsPageHeader">2016 Leaves Re-Set Details</h4>
            </div>
        </div>
        <div class="row" ng-hide="error">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 LMSLayoutPadding" ng-repeat="statistics in leaveEncashmentDetails">
                <div class="DashboardStatisticsBox">
                    <div class="LmsSpecialText">
                        {{statistics.Name}}
                    </div>
                    <div class="EncashmentDetailsNumber">
                        {{statistics.Value}}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row text-center top-buffer-small">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
            <h4 class="LmsPageHeader">Leave History</h4>
        </div>
    </div>
    <br>
    <div class="row" ng-include src="'/app/admin/users/impersonatedUserBanner.html'"></div>
    <div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
        <strong>{{errorMessage}}</strong>
    </div>
    <div class="row table-responsive" id="LeaveHistory">
        <table tr-ng-grid="" items="leaveHistory" fields="['Id', 'AppliedOn', 'FromDate', 'ToDate', 'LeaveDays', 'CompOffDays', 'Comments', 'LeaveType', 'Status']" enable-filtering="true" enable-sorting="true" selection-mode="none" page-items="15">
            <thead>
                <tr>
                    <th cell-width="6em" display-name="Request Id" field-name="Id"></th>
                    <th cell-width="8em" field-name="AppliedOn" display-name="Applied On" enable-filtering="true" enable-sorting="true" display-format="date: '{{displayDateFormat}}'"></th>
                    <th cell-width="8em" field-name="FromDate" display-name="From Date" enable-filtering="true" enable-sorting="true" display-format="date: '{{displayDateFormat}}'"></th>
                    <th cell-width="8em" field-name="ToDate" display-name="To Date" enable-filtering="true" enable-sorting="true" display-format="date: '{{displayDateFormat}}'"></th>
                    <th cell-width="6em" display-name="Leave Days" field-name="LeaveDays"></th>
                    <th cell-width="6em" display-name="Comp-Off Days" field-name="CompOffDays"></th>
                    <th cell-width="10em" field-name="LeaveType"></th>
                    <th cell-width="10em" field-name="Status"></th>
                    <th cell-width="6em" display-name="Details" enable-filtering="false" enable-sorting="false"></th>
                    <th cell-width="6em" display-name="Cancel" enable-filtering="false" enable-sorting="false"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td field-name="LeaveType">
                        <leave-Type-Keyword-Component leavetype="gridItem.LeaveType"></leave-Type-Keyword-Component>
                    </td>
                    <td field-name="Status">
                        <status-Keyword-Component status="gridItem.Status"></status-Keyword-Component>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="viewLeaveDetails(gridItem.Id)">
							View Details
						</button>
                    </td>
                    <td>
                        <button ng-if="gridItem.Status == 'Applied' " class="btn btn-danger" ng-click="cancelLeave(gridItem.Id)">
							Cancel
						</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row text-center top-buffer-small">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
            <h4 class="LmsPageHeader">Leave Accrual History</h4>
        </div>
    </div>
    <div class="row table-responsive" id="LeaveAccrual">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
            <table tr-ng-grid="" items="leaveAccrualHistory" fields="['CreatedOn', 'LeaveType', 'CreditedLeave', 'Description' ]" enable-filtering="true" enable-sorting="true" selection-mode="none" page-items="15">
                <thead>
                    <tr>
                        <th field-name="CreatedOn" display-name="Credited On" enable-filtering="true" enable-sorting="true" cell-width="10em" display-format="date: '{{displayDateFormat}}'"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>