<div ng-controller="leaveDetailsCtrl">
	<div class="row text-center top-buffer-small">
		<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
			<h4 class="LmsPageHeader">Leave Details</h4>
		</div>
	</div>
	<br>
	<div class="row" ng-include src="'/app/admin/users/impersonatedUserBanner.html'"></div>
	<div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
		<strong>{{errorMessage}}</strong>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<label class="LmsControlHeader pull-right">Leave Request Id</label>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="LmsControl"> {{leaveDetails.leaveRequestId}} </div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<label class="LmsControlHeader pull-right">Applied On</label>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="LmsControl">{{leaveDetails.appliedOn | date:displayDateFormat}} </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<label class="LmsControlHeader pull-right">Leave Status</label>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<status-Keyword-Component status="leaveDetails.leaveStatus"></status-Keyword-Component>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<label class="LmsControlHeader pull-right">Leave Type</label>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<!--leave-Type-Keyword-Component leavetype="leaveDetails.leaveType"></leave-Type-Keyword-Component-->
			<div class="LmsControl">{{leaveDetails.leaveType}} </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pull-right">
			<button ng-if="leaveDetails.canCancel == true" class="btn btn-danger" ng-click="cancelLeave()">
				Cancel
			</button>
		</div>
	</div>
	<div class="row top-buffer-small" id="LeaveDetails">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
			<table class="NoFooter" tr-ng-grid="" items="leaveDetails.leaveDays" fields="['leaveDate', 'leavePart', 'compOffDates', 'compOffPart']" enable-filtering="true" enable-sorting="true" selection-mode="none" page-items="15">
				<thead>
					<tr>
						<th field-name="leaveDate" display-name="Leave Date" enable-filtering="true" enable-sorting="true" display-format="date: '{{displayDateFormat}}'"></th>
						<th field-name="leavePart" display-name="Leave Days" enable-filtering="true" enable-sorting="true"></th>
						<th field-name="compOffDates" display-name="CompOff Date" enable-filtering="false" enable-sorting="false"></th>
						<th field-name="compOffPart" display-name="CompOff Days" enable-filtering="true" enable-sorting="true"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td field-name="compOffDates">
							<span ng-repeat="compOffDate in gridItem.compOffDates"><font ng-show="!$first">&nbsp;</font>{{compOffDate | date:displayDateFormat}}<font ng-show="!$last">,</font></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row text-center top-buffer-small">
		<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
			<h4 class="LmsPageHeader">Leave Status History</h4>
		</div>
	</div>
	<div class="row table-responsive" id="LeaveAccrual">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
			<table tr-ng-grid="" items="leaveStatusHistory.statusEntries" fields="['statusDate', 'leaveStatus', 'changedBy', 'comments' ]" enable-filtering="true" enable-sorting="true" selection-mode="none" page-items="15">
				<thead>
					<tr>
						<th field-name="statusDate" display-name="Date" enable-filtering="true" enable-sorting="true" cell-width="10em" display-format="date: '{{displayDateFormat}}'"></th>
						<th field-name="leaveStatus" display-name="Status" enable-filtering="true" enable-sorting="true"></th>
						<th field-name="changedBy" display-name="By" enable-filtering="true" enable-sorting="true"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td field-name="leaveStatus">
								<status-Keyword-Component status="gridItem.leaveStatus"></status-Keyword-Component>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
