<div class="col-sm-12 LMSLayoutPadding" ng-controller="adminLeaveCreditEntryCtrl">

  <div class="col-xs-4 col-xs-offset-4 text-center">
    <h4 class="LmsSectionHeader">Leave Credit Entry</h4>
  </div>
<div ng-include src="'/app/admin/users/impersonatedUserBanner.html'"></div>
  <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
    <strong>{{errorMessage}}</strong>
  </div>

  <div class="col-sm-12 LMSLayoutPadding">

    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="LeaveCreditId">Leave Credit Id</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <input class="form-control" id="LeaveCreditId" name="LeaveCreditId" ng-maxlength="5" ng-minlength="1" ng-model="leaveCredit.id" type="number"  ng-disabled="true">
      </div>
    </div>

    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="FirstName">Employee</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <input class="form-control" id="FirstName" name="FirstName" ng-maxlength="20" ng-minlength="1" ng-model="leaveCredit.Employee.FullName" ngPattern="a-zA-Z" type="text" ng-disabled="true">
      </div>
    </div>

    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="LeaveType">Leave Type</label>
      </div>
      <div class="col-sm-4 LMSLayoutPadding">
        <select class="form-control" id="LeaveType" name="form-leaveType" ng-model="leaveCredit.LeaveType" ng-options="leaveTypeOption.Name for leaveTypeOption in leaveTypeOptions  track by leaveTypeOption.id"></select>
      </div>
    </div>

    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="LeaveCreditType">Leave Credit Type</label>
      </div>
      <div class="col-sm-4 LMSLayoutPadding">
        <select class="form-control" id="LeaveCreditType" name="form-leaveCreditType" ng-model="leaveCredit.LeaveCreditType" ng-options="leaveCreditTypeOption.Name for leaveCreditTypeOption in leaveCreditTypeOptions  track by leaveCreditTypeOption.id"></select>
      </div>
    </div>

    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="CreditedLeave">Credited Leave</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <input class="form-control" id="CreditedLeave" name="CreditedLeave" ng-maxlength="6" ng-minlength="1" ng-model="leaveCredit.CreditedLeave">
      </div>
    </div>

    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="Description">Description</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <input class="form-control" id="Description" name="Description" ng-maxlength="200" ng-minlength="1" ng-model="leaveCredit.Description">
      </div>
    </div>

    <div class="col-sm-8 LMSLayoutPadding">
      <div class="col-sm-2 LMSLayoutPadding">
      </div>
      <div class="col-sm-2 LMSLayoutPadding" ng-show="newLeaveCredit === false">
        <button class="btn btn-success" id="BtnUpdate" data-ng-click="updateLeaveCredit()" ng-disabled="">Update</button>
      </div>
      <div class="col-sm-2 LMSLayoutPadding" ng-show="newLeaveCredit === true">
        <button class="btn btn-success" id="BtnAdd" data-ng-click="addLeaveCredit()" ng-disabled="">Add</button>
      </div>
      <div class="col-sm-2 LMSLayoutPadding">
      </div>
      <div class="col-sm-2 LMSLayoutPadding">
      </div>
    </div>
  </div>
</div>
