<div id="LeaveRequestReport" ng-controller="adminLeaveCreditCtrl">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <h4 class="LmsSectionHeader">Leave Credits</h4>
    </div>
    <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
        <strong>{{errorMessage}}</strong>
    </div>
    <div class="col-sm-12 LMSLayoutPadding">
        <button class="btn btn-primary top-bottom-buffer-small pull-right" id="BtnIndividualLeaveCredit" data-ng-click="doIndividualLeaveCredit()">Credit Individual Leave</button>
    </div>
    <div>
        <table tr-ng-grid="" class="top-bottom-buffer-small" enable-filtering="true" enable-selections="false" enable-sorting="true"
                fields="['EmployeeId', 'Employee.FullName', 'LeaveCreditType.Name', 'LeaveType.Name',
                          'CreditedLeave', 'createdOn', 'Description' ]"
            items="leaveCreditList" order-by="CreatedOn" page-items="20">
            <thead>
                <tr>
                    <th cell-width="10em" display-name="Created On" field-name="createdOn" display-format="date: '{{displayDateFormat}}'"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-success" id="BtnEditLeaveCredit" ng-click="EditLeaveCredit(gridItem)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
    <!--div class="col-sm-12">
        <div class="LmsSectionHeader text-center">
            <h4 class="LmsSectionHeader">Monthly Leave Credit</h4>
        </div>
    </div>
    <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
        <strong>{{errorMessage}}</strong>
    </div>
    <div class="col-sm-12"> &nbsp;
    </div>
    <div class="col-sm-12">
        <div class="col-sm-9">
            Leaves will be credited for all employees, who are in Active or Registered status, for the current month. If 'Monthly' leave is already credited for an employee, leaves won't be credited again.
            'Manual' leaves which are credited earlier won't be considered in detecting duplicates. 'Monthly' leaves WILL BE credited even if 'Manual' leaves were credited earlier.
        </div>
        <div class="col-sm-3 pull-right">
            <button class="btn btn-primary top-bottom-buffer-small" id="BtnMonthlyLeaveCredit" data-ng-click="doMonthlyLeaveCredit()">Credit Monthly Leaves</button>
        </div>
    </div>
    <div class="col-sm-12"> &nbsp;
    </div>
    <div class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-1">
            <button class="btn btn-danger top-bottom-buffer-small" id="BtnDeleteMonthlyLeaveCredit" data-ng-click="deleteMonthlyLeaveCredit()">Delete Current Month's Credits</button>
        </div>
        <div class="col-sm-8">This will delete the monthly credit for the current month for all employees. Manually credited leaves won't be deleted.
        </div>
    </div-->
</div>
