<div id="AdminApprovals" ng-hide="error">
  <div class="LMSLayoutPadding col-sm-12" id="TabsSection">
    <uib-tabset justified="true">
      <uib-tab heading="Leave Requests" active="leaveTabActive">
        <div ng-include src="'/app/admin/approvals/leaveManagement.html'"></div>
      </uib-tab>
      <uib-tab heading="Comp-Off Requests" active="compOffTabActive">
        <div ng-include src="'/app/admin/approvals/compOffManagement.html'"></div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
