<div ng-controller="adminApprovalsCtrl">
    <div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
        <strong>{{errorMessage}}</strong>
    </div>
    <div class="row top-buffer">
        <table enable-filtering="true" enable-multi-row-selections="true" enable-selections="true" enable-sorting="true" fields="['Id', 'EmployeeId', 'FirstName', 'LastName', 'AppliedOn', 'FromDate', 'ToDate', 'TotalDays', 'Comments', 'Status']" items="compOffList"
            order-by="Id" page-items="10" selected-items="selectedCompOffs" tr-ng-grid="">
            <thead>
                <tr>
                    <th cell-width="6em" display-name="Request Id" field-name="Id"></th>
                    <th cell-width="6em" field-name="EmployeeId"></th>
                    <th cell-width="8em" display-name="Applied On" enable-filtering="true" field-name="AppliedOn" display-format="date: '{{displayDateFormat}}'"></th>
                    <th cell-width="8em" display-name="From Date" enable-filtering="true" field-name="FromDate" display-format="date: '{{displayDateFormat}}'"></th>
                    <th cell-width="8em" display-name="To Date" enable-filtering="true" field-name="ToDate" display-format="date: '{{displayDateFormat}}'"></th>
                    <th cell-width="6em" display-name="Comp-Off Days" enable-filtering="true" field-name="TotalDays"></th>
                    <th field-name="Status"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td field-name="Status">
                        <status-Keyword-Component status="gridItem.Status"></status-Keyword-Component>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="row pull-right"><strong>Note: </strong>Select one or more Comp-Off requests by clicking on them and use one of the options to change all of their statuses.</div>
    </div>
    <div class="btn-toolbar">
        <button id="compOffApproveBtn" class="btn btn-success pull-right" data-ng-click="doRequestStatusChange($event, 'CompOff', 'Approved')">Approve</button>
        <button id="compOffRejectBtn" class="btn btn-primary pull-right" data-ng-click="doRequestStatusChange($event, 'CompOff', 'Rejected')">Reject</button>
        <button id="compOffApproveBtn" class="btn btn-danger pull-right" data-ng-click="doRequestStatusChange($event, 'CompOff', 'Canceled')">Cancel</button>
    </div>
    <div class="row">
        <strong>Legend:</strong>
        <div class="row top-buffer-small">
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 highLightForApplied text-center">Applied</div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 highLightForApproved text-center">Approved</div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 highLightForRejected text-center">Rejected</div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 highLightForCanceled text-center">Canceled</div>
        </div>
    </div>
</div>
