<div class="col-sm-12 LMSLayoutPadding">
  <div id="WorkFromHomeSection">
    <div class="LmsSectionHeader text-center">
      <h4 class="LmsSectionHeader">Work From Home</h4>
    </div>

    <div>
      <table enable-filtering="true" enable-multi-row-selections="true" enable-selections="true" enable-sorting="true" fields="['Id','FromDate', 'ToDate', 'EmployeeId',  'FirstName', 'LastName','TotalWorkFromHomeHours', 'Comments', 'Status' ]" items="workFromHomeList"
        order-by="Id" page-items="10" selected-items="selectedWorkFromHomes" tr-ng-grid="">

        <thead>
          <tr>
            <th cell-width="10em" display-name="From Date" enable-filtering="false" field-name="FromDate"></th>
            <th cell-width="10em" display-name="To Date" enable-filtering="false" field-name="ToDate"></th>
            <th cell-width="10em" display-name="Total Hours" enable-filtering="false" field-name="WorkFromHomeHours"></th>
          </tr>
        </thead>
      </table>
      <div>
        <div>Select one or more rows by clicking on them and use one of the options to change all of their statuses.</div>
        <div class="btn-toolbar">
          <button id="wfhApproveBtn" class="btn btn-success pull-right" data-ng-click="doRequestStatusChange('WorkFromHome', 'Approved')">Approve</button>
          <button id="wfhRejectBtn" class="btn btn-primary pull-right" data-ng-click="doRequestStatusChange('WorkFromHome', 'Rejected')">Reject</button>
          <button id="wfhCancelBtn" class="btn btn-danger pull-right" data-ng-click="doRequestStatusChange('WorkFromHome', 'Canceled')">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
