<div class="container">
    <div class="row">

      <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
        <strong>{{errorMessage}}</strong>
      </div>

        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Login to SpiderLogic LMS</h3>
                    <p>Enter your username and password to log on:</p>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" ng-submit="signIn(inputName, inputPassword)" class="login-form">
                    <div class="form-group">
                        <label class="sr-only" for="form-username">Username</label>
                        <input type="text" id="UsernameInput" name="form-username" placeholder="Name" class="form-username form-control" id="form-username" ng-model="inputName">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" id="PasswordInput" name="form-password" placeholder="Password" class="form-password form-control" id="form-password" ng-model="inputPassword">
                    </div>
                    <button type="submit" class="btn" id="SignInBtn">Sign in!</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
