<div class="container">
    <div class="row">

        <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
            <strong>{{errorMessage}}</strong>
            <a class="btn btn-danger" href='http://login.live.com/logout.srf' ng-show="showLiveLogout == true">Signout From Windows Live</a>
        </div>

        <div class="col-sm-6 col-sm-offset-3 LMSLayoutPadding top-buffer-small bottom-buffer-small CautionBox" id="ErrorMessage" ng-show="isUnSupportedBrowser === true">
            <strong>We have observed some compatibility issues with some of the browsers.
              Because of the critical nature of the data being captured, we have decided to allow browsers only after rigorous testing.
              As of now, only Google Chrome is certified as a browser for LMS.
              Please <a href="https://www.google.com/chrome/browser/desktop/index.html">download Google Chrome</a>, if you do not have it already.
            </strong>
        </div>

        <div class="col-sm-6 col-sm-offset-3 form-box" ng-show="isUnSupportedBrowser !== true">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Log in to SpiderLogic LMS</h3>
                    <p>Use your windows live account to log in:</p>
                </div>
            </div>
            <div>
                <a href="/auth/windowslive" class="btn btn-info" id="SignInLnk">Log in with Windows Live</a>
                <br />
                <br />
                <p class="small">
                    When you click on the button above, you will be redirected to Windows Live account Sign In page.
                </p>
                <p class="small">
                    <span class="LmsTextHeader">To setup</span> a new user account for LMS, please visit <a href="https://signup.live.com/" target="_blank">https://signup.live.com/</a>. You should register for a Windows Live account using your complete
                    SpiderLogic email id as User Name (Live Id). Once you register your SpiderLogic email id as Windows Live id, send an email to the admin team (blr-admin@wipfli.com) to get your LMS user id activated. More instructions on logging in
                    can be found here - <a href="https://spiderlogic.jira.com/wiki/display/LMS/How+to+Log-In" target="_blank">How to Log-In</a>. To log in to Windows Live account, please visit <a href="https://login.live.com/" target="_blank">https://login.live.com/</a>.
                </p>
                <p class="small">
                    <span class="LmsTextHeader">For feedback</span> or for logging issues or for feature requests, please log appropriate Jira tasks in this <a href="https://spiderlogic.jira.com/secure/RapidBoard.jspa?rapidView=403" target="_blank">Jira board</a>
                </p>
                <p class="small">
                    A quick <span class="LmsTextHeader">Video Tour</span> is provided <a href="https://spiderlogic.jira.com/wiki/display/LMS/Video+Tour" target="_blank">here</a>, as a jump start for the application.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
