<div class="row">
  <div class="col-sm-12 LMSLayoutPadding"></div>


  <div class ="col-sm-12 LMSLayoutPadding">
    <div class='col-sm-4 LMSLayoutPadding'></div>
    <div class='col-sm-4 LMSLayoutPadding'>Are you sure you want to logout ? </div>
    <div class='col-sm-4 LMSLayoutPadding'></div>
  </div>
  <div class='col-sm-12 LMSLayoutPadding'>
    <div class='col-sm-3 LMSLayoutPadding'></div>

    <div class='col-sm-3 LMSLayoutPadding'>
      <button class="btn btn-warning" data-ng-click="signOut()">Signout</button>
    </div>
    <div class='col-sm-3 LMSLayoutPadding'>
      <a href="/#/dashboard" class="btn btn-info" role="button">No, return to Dashboard</a>
    </div>
    <div class='col-sm-3 LMSLayoutPadding'></div>

  </div>

  <div class="col-sm-12 LMSLayoutPadding"></div>

</div>
