<div class="row text-center top-buffer-small">
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-2">
        <h4 class="LmsPageHeader">Request for Comp-Off Accrual</h4>
    </div>
</div>
<div ng-include src="'/app/admin/users/impersonatedUserBanner.html'"></div>

<div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
    <strong>{{errorMessage}}</strong>
</div>

<ng-form name="applyCompOffForm">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 LMSLayoutSmallPadding SpecialAttentionText">
            <strong>Note:</strong> Use this feature to request for compensatory-off accrual. <strong>To utilize one of your already credited compensatory-offs, you should follow the <a href="#/applyForLeave">leave apply process</a>.</strong> Approved compensatory-offs will automatically be considered
            against leave requests, as is evident from the “Comp-Off?” column in the “Apply for Leave” form.
        </div>

        <div id="CommentsSection" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 LMSLayoutPadding">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="LmsControlHeader pull-right" for="form-comments">Comments*</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control row-fluid" id="form-comments" name="form-comments" ng-model="details.comments" placeholder="Details about the extra work, which resulted in compensatory-off..." ng-required="details.commentsRequired" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div ng-include src="'/app/applyLeave/SelectionSection.html'"></div>

    <div class="row table-responsive LMSLayoutPadding" id="CompOffDisplayGridSection">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
            <table tr-ng-grid="" class="NoFooter" enable-filtering="false" enable-sorting="false" fields="['ApplyDateForDisplay']" items="validDays" selection-mode="none">
                <thead>
                    <tr>
                        <th display-name="Worked On" field-name="ApplyDate"></th>
                        <th>
                            <div class="tr-ng-title">
                                Details </div>
                        </th>
                        <th>
                            <div class="tr-ng-title">
                                Comp-Off Duration </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{HolidayRow:gridItem.Holiday === true, AppliedRow:gridItem.IsFullDayApplied === true, HalfDayAppliedRow:gridItem.IsHalfDayApplied===true}">
                        <td>
                            <div ng-if='gridItem.IsFullDayApplied === true '>
                                <span>{{gridItem.Comments}}</span>
                            </div>
                          </td>
                          <td>
                            <div class="btn-group ApplyBtnGroup" ng-if='gridItem.IsFullDayApplied != true'>
                                <label class="btn btn-primary" ng-model="gridItem.Apply" uib-btn-radio="0">No Comp-Off</label>
                                <label ng-if="gridItem.IsFullDayApplied != true" class="btn btn-primary" ng-model="gridItem.Apply" uib-btn-radio="1">Half Day</label>
                                <label ng-if="gridItem.IsFullDayApplied != true && gridItem.IsHalfDayApplied != true" class="btn btn-primary" ng-model="gridItem.Apply" uib-btn-radio="2">Full Day</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
        <strong>{{errorMessage}}</strong>
    </div>

    <div class="row LMSLayoutPadding">
        <button class="btn btn-success col-lg-2 col-md-2 col-sm-3 col-xs-6 pull-right" id="applyBtn" data-ng-click="doApply()" ng-disabled="disableApply == true">Apply</button>
    </div>
</ng-form>
