<div class="row text-center top-buffer-small">
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
        <h4 class="LmsPageHeader">Apply for Leave</h4>
    </div>
</div>
<div ng-include src="'/app/admin/users/impersonatedUserBanner.html'"></div>

<div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
    <strong>{{errorMessage}}</strong>
</div>

<ng-form name="applyLeaveForm">

    <div ng-include src="'/app/applyLeave/SelectionSection.html'"></div>

    <div class="row table-responsive LMSLayoutPadding" id="LeaveDisplayGridSection">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table tr-ng-grid="" class="NoFooter" enable-filtering="false" enable-sorting="false" fields="['ApplyDateForDisplay']" items="validLeaveDays" selection-mode="none">
                <thead>
                    <tr>
                        <th display-name="Leave Date" field-name="ApplyDate"></th>
                        <th>
                            <div class="tr-ng-title">
                                Details </div>
                        </th>
                        <th>
                            <div class="tr-ng-title">
                                Leave Duration </div>
                        </th>
                        <th>
                            <div class="tr-ng-title">
                                Comp-Off? </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{HolidayRow:gridItem.Holiday === true, AppliedRow:gridItem.IsFullDayApplied === true, HalfDayAppliedRow:gridItem.IsHalfDayApplied===true}">
                        <td>
                            <div>{{gridItem.Comments}} </div>
                        </td>
                        <td>
                            <div class="btn-group ApplyBtnGroup" ng-if='gridItem.showThreeStateApply === true'  ng-click="adjustDateRows()">
                                <label class="btn btn-primary" ng-model="gridItem.ApplyForLeave" uib-btn-radio="0" ng-readonly="gridItem.isDisabled">No Leave</label>
                                <label class="btn btn-primary" ng-model="gridItem.ApplyForLeave" uib-btn-radio="1" ng-readonly="gridItem.isDisabled">Half Day</label>
                                <label class="btn btn-primary" ng-model="gridItem.ApplyForLeave" uib-btn-radio="2" ng-readonly="gridItem.isDisabled">Full Day</label>
                            </div>
                            <div class="btn-group ApplyBtnGroup" ng-if='gridItem.showTwoStateApply === true' ng-click="adjustDateRows()">
                                <label class="btn btn-primary" ng-model="gridItem.ApplyForLeave" uib-btn-radio="0" ng-readonly="gridItem.isDisabled">No Leave</label>
                                <label class="btn btn-primary" ng-model="gridItem.ApplyForLeave" uib-btn-radio="1" ng-readonly="gridItem.isDisabled">Half Day</label>
                            </div>
                        </td>

                        <td>
                            <div class="comp-off-table">
                                <div class="comp-off-table-row" ng-show='gridItem.HalfDayCompOffIsAvailable == true'>
                                    <div class="comp-off-check-btn">
                                        <input class="btn-primary click-btn" type="checkbox" ng-model="gridItem.FirstHalfDayCompOffSelected">
                                    </div>
                                    <div class="btn-primary comp-off-date">
                                        <label>Comp-Off Date</label>
                                        </br>
                                        <span>{{gridItem.CompOff[0].CompOffDateForDisplay}}  (0.5d)</span>
                                    </div>
                                    <div class="btn-primary comp-off-expiry-date">
                                        <label>Expiry Date</label>
                                        </br>
                                        <span>{{gridItem.CompOff[0].ExpiresOnForDisplay}}</span>
                                    </div>
                                </div>

                                <div class="comp-off-table-row" ng-show='gridItem.FullDayCompOffIsAvailable == true'>
                                    <div class="comp-off-check-btn">
                                        <input class="btn-primary click-btn" type="checkbox" ng-model="gridItem.FullDayCompOffSelected">
                                    </div>
                                    <div class="btn-primary comp-off-date">
                                        <label>Comp-Off Date</label>
                                        </br>
                                        <span>{{gridItem.CompOff[0].CompOffDateForDisplay}}</span>
                                    </div>
                                    <div class="btn-primary comp-off-expiry-date">
                                        <label>Expiry Date</label>
                                        </br>
                                        <span>{{gridItem.CompOff[0].ExpiresOnForDisplay}}</span>
                                    </div>
                                </div>

                                <div ng-show='gridItem.SplitCompOffIsAvailable == true'>
                                    <div class="comp-off-table-row">
                                        <div class="comp-off-check-btn">
                                            <input class="btn-primary click-btn" type="checkbox" ng-model="gridItem.FirstHalfDayCompOffSelected">
                                        </div>
                                        <div class="btn-primary comp-off-date">
                                            <label>Comp-Off Date</label>
                                            </br>
                                            <span>{{gridItem.CompOff[0].CompOffDateForDisplay}} (0.5d)</span>
                                        </div>
                                        <div class="btn-primary comp-off-expiry-date">
                                            <label>Expiry Date</label>
                                            </br>
                                            <span>{{gridItem.CompOff[0].ExpiresOnForDisplay}}</span>
                                        </div>
                                    </div>
                                    <div class="comp-off-table-row">
                                        <div class="comp-off-check-btn">
                                            <input class="btn-primary click-btn" type="checkbox" ng-model="gridItem.SecondHalfDayCompOffSelected">
                                        </div>
                                        <div class="btn-primary comp-off-date">
                                            <label>Comp-Off Date</label>
                                            </br>
                                            <span>{{gridItem.CompOff[1].CompOffDateForDisplay}} (0.5d)</span>
                                        </div>
                                        <div class="btn-primary comp-off-expiry-date">
                                            <label>Expiry Date</label>
                                            </br>
                                            <span>{{gridItem.CompOff[1].ExpiresOnForDisplay}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
        <strong>{{errorMessage}}</strong>
    </div>


    <div class="row LMSLayoutPadding">
        <button class="btn btn-success col-lg-2 col-md-2 col-sm-3 col-xs-6 pull-right" id="applyBtn" data-ng-click="doApply()" ng-disabled="disableApply === true">Apply</button>
    </div>

</ng-form>
