<div class="row LMSLayoutPadding" id="DateSelectionSection">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <label class="LmsControlHeader pull-right" for="form-fromdate">From Date</label>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p class="input-group">
      <input class="form-control NonStandardControl" close-text="Close" datepicker-options="dateOptions" id="form-fromdate" is-open="from.opened" max-date="from.maxDate" min-date="from.minDate" name="form-fromdate" ng-change="onFromDateChange()" ng-model="details.fromDate" ng-readonly="true" ng-required="true" show-weeks='false' type="text" uib-datepicker-popup="{{dateFormat}}"/>
      <span class="input-group-btn">
        <button id="fromDateBtn" class="btn btn-default NonStandardControl" ng-click="openFrom($event)" type="button">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <label class="LmsControlHeader pull-right" for="form-todate">To Date</label>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p class="input-group">
      <input class="form-control NonStandardControl" close-text="Close" datepicker-options="dateOptions" id="form-todate" is-open="to.opened" max-date="to.maxDate" min-date="to.minDate" name="form-todate" ng-change="onToDateChange()" ng-model="details.toDate" ng-readonly="true" ng-required="true" show-weeks='false' type="text" uib-datepicker-popup="{{dateFormat}}"/>
      <span class="input-group-btn">
        <button id="toDateBtn" class="btn btn-default NonStandardControl" ng-click="openTo($event)" type="button">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
</div>
