<div   id="LeaveBalanceSection" class="LMSLeaveBalance">
  <div class="col-sm-12"  >
    <div class="col-sm-3 LMSLayoutSmallPadding"></div>
    <div class="col-sm-3 LMSLayoutSmallPadding LMSLeaveBalance">Leave Balance for {{SelectedLeaveType.LeaveTypeDesc}}</div>
    <div class="col-sm-3 LMSLayoutSmallPadding LMSLeaveBalance">{{SelectedLeaveType.AvailableBalance}}</div>
    <div class="col-sm-3 LMSLayoutSmallPadding"></div>
  </div>
  <div class="col-sm-12 "  >
    <div class="col-sm-3 LMSLayoutSmallPadding"></div>
    <div class="col-sm-3 LMSLayoutSmallPadding LMSLeaveBalance">Comp-Off Balance : </div>
    <div class="col-sm-3 LMSLayoutSmallPadding LMSLeaveBalance">{{compOffs.length/2}}</div>
    <div class="col-sm-3 LMSLayoutSmallPadding"></div>
  </div>
</div>
