<!--div ng-include src="'/app/applyLeave/LeaveBalanceSection.html'"></div-->
<div class="row" id="LeaveTypeSection" ng-show="applyType === 0">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 LMSLayoutPadding">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="LmsControlHeader pull-right" for="form-leaveType">Leave Type</label>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <select class="form-control" id="form-leaveType" name="form-leaveType" ng-model="$parent.SelectedLeaveType" ng-change="refreshLeaveDays()" ng-options="leaveType.LeaveTypeDesc for leaveType in leaveTypes  track by leaveType.LeaveTypeId"></select>
        </div>
    </div>
    <div id="CommentsSection" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 LMSLayoutPadding">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="LmsControlHeader pull-right" for="form-comments">Comments*</label>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <textarea class="form-control row-fluid" id="form-comments" name="form-comments" placeholder="Comments are mandatory..." ng-model="details.comments" ng-required="details.commentsRequired" rows="3"></textarea>
        </div>
    </div>
</div>

<div ng-include src="'/app/applyLeave/DateSelectionSection.html'"></div>

<div class="row" id="MessageRecipients" >
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 LMSLayoutPadding">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="LmsControlHeader pull-right" for="form-leaveType">Email Recipients *</label>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <ui-select ng-model="selected.value" multiple limit="10" tagging="tagTransform" tagging-tokens="SPACE|,|/" theme="selectize">
            <ui-select-match placeholder="Select recipients...">
                {{$item.FullName}} &lt;{{$item.OfficialEmailId}}&gt;
            </ui-select-match>
            <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.Id">
                {{item.FullName}}&nbsp;&lt;{{item.OfficialEmailId}}&gt;
            </ui-select-choices>
          </ui-select>
        </div>
    </div>
</div>
