<div class="col-sm-12 LMSLayoutPadding" ng-controller="impersonateUserCtrl">

  <div class="col-xs-4 col-xs-offset-4 text-center">
    <h4 class="LmsSectionHeader">User Details</h4>
  </div>

  <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
    <strong>{{errorMessage}}</strong>
  </div>

  <div class="col-sm-12 LMSLayoutPadding">
    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="EmployeeId">Logged-in user: </label>
      </div>
      <div class="col-sm-4 LMSLayoutPadding">
        {{employee.FirstName}} {{employee.LastName}}
      </div>
    </div>
    <div class="col-sm-4 LMSLayoutPadding">
      <a class="btn btn-danger" href="#/signout">Signout</a>
    </div>
  </div>
  <div class="col-sm-12 LMSLayoutPadding" ng-show="showImpersonation">
    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="EmployeeId">Currently impersonated as: </label>
      </div>
      <div class="col-sm-4 LMSLayoutPadding">
        {{impersonatedEmployee}}
      </div>
    </div>
    <div class="col-sm-8 LMSLayoutSmallPadding">
      <div class="col-sm-4 LMSLayoutPadding">
        <label for="EmployeeId">Select employee for impersonation </label>
      </div>
      <div class="col-sm-4 LMSLayoutPadding">
        <input class="form-control" id="form-searchEmployee" ng-model="selectedUser" placeholder="Search for employee ..." type="text" typeahead-editable='false' typeahead-focus-first='false' typeahead-loading="loadingEmployees" typeahead-no-results="noResults"
          typeahead-template-url="templates/customTemplate.html" uib-typeahead="employee for employee in searchEmployee($viewValue) ">
        <i class="glyphicon glyphicon-refresh" ng-show="loadingEmployees"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 LMSLayoutPadding" ng-show="showImpersonation">
    <div class="col-sm-2 LMSLayoutPadding">
    </div>
    <div class="col-sm-4 LMSLayoutPadding">
      <button class="btn btn-primary" id="btnImpersonateUser" data-ng-click="impersonateUser()">Impersonate User</button>
    </div>
    <div class="col-sm-2 LMSLayoutPadding">
    </div>
    <div class="col-sm-4 LMSLayoutPadding">
      <button class="btn btn-danger" id="btnClearImpersonation" data-ng-click="clearImpersonation()">Clear Impersonation</button>
    </div>
  </div>
</div>
