<div class="row LMSLayoutPadding" ng-controller="impersonatedUserBannerCtrl" ng-show="impersonatedEmployee">
    <div class="col-sm-2 ImpersonatedUserBanner">
      <label>Impersonated as: </label>
    </div>
    <div class="col-sm-2 ImpersonatedUserBanner">
      <label>{{impersonatedEmployee}}</label>
    </div>
</div>
