<ng-form class="col-sm-12 LMSLayoutPadding" id="userEntryForm" name="userEntryForm" ng-controller="userEntryCtrl">

  <div class="col-xs-4 col-xs-offset-4 text-center">
    <h4 class="LmsSectionHeader">User Entry</h4>
  </div>

  <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
    <strong>{{errorMessage}}</strong>
  </div>

  <div class="col-sm-12 LMSLayoutPadding" id="employeeEditsection" name="employeeEditsection">

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding required">
        <label for="EmployeeId">Employee Id</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <input class="form-control" id="EmployeeId" name="EmployeeId" ng-maxlength="5" ng-minlength="1" ng-model="employee.id" type="number" ng-disabled="newEmployee === false">
      </div>
    </div>


    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding required">
        <label for="FirstName">First Name</label>
      </div>
      <div class="col-sm-6 LMSLayoutSmallPadding">
        <input class="form-control" id="FirstName" name="FirstName" ng-maxlength="20" ng-minlength="1" ng-model="employee.FirstName" ngPattern="a-zA-Z" type="text">
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding">
        <label for="MidlleName">Middle Name</label>
      </div>
      <div class="col-sm-6 LMSLayoutSmallPadding">
        <input class="form-control" id="MiddleName" name="MiddleName" ng-maxlength="20" ng-minlength="1" ng-model="employee.MiddleName" ngPattern="a-zA-Z" type="text">
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding required">
        <label for="LastName">Last Name</label>
      </div>
      <div class="col-sm-6 LMSLayoutSmallPadding">
        <input class="form-control" id="LastName" name="LastName" ng-maxlength="20" ng-minlength="1" ng-model="employee.LastName" ngPattern="a-zA-Z" type="text">
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding required">
        <label for="Email">Email</label>
      </div>
      <div class="col-sm-6 LMSLayoutSmallPadding">
        <input class="form-control" id="Email" name="Email" ng-maxlength="50" ng-minlength="1" ng-model="employee.UserName" type="email">
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding required">
        <label for="Location">Location</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <select class="form-control" id="Location" name="form-location" ng-model="employee.Location" ng-options="locationOption.Name for locationOption in locationOptions  track by locationOption.id"></select>
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding required">
        <label for="EmployeeStatus">Status</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <select class="form-control" id="EmployeeStatus" name="form-EmployeeStatus" ng-model="employee.EmployeeStatus" ng-options="statusOption.Name for statusOption in statusOptions  track by statusOption.id"></select>
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding">
        <label for="IsAdmin">Is Admin?</label>
      </div>
      <div class="col-sm-9 LMSLayoutPadding">
        <input id="IsAdmin" name="IsAdmin" type="checkbox" ng-model="employee.IsAdmin">
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding">
        <label for="IsFemale">Gender</label>
      </div>
      <div class="col-sm-4 LMSLayoutPadding">
        <input  type="radio" ng-model="employee.Gender" value="Male"/ >Male &nbsp;
        <input type="radio" ng-model="employee.Gender" value="Female"/  >Female
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding" >
      <div class="col-sm-3 LMSLayoutPadding">
        <label for="form-dateOfBirth">Date Of Birth</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <p class="input-group">
          <input class="form-control" close-text="Close" datepicker-options="dateOptions" id="form-dateOfBirth" is-open="dateOfBirth.opened" name="form-dateOfBirth" ng-model="employee.DateOfBirth" ng-readonly="true" show-weeks='false' type="text" uib-datepicker-popup="{{dateFormat}}"/>
          <span class="input-group-btn">
            <button id="dateOfBirthBtn" class="btn btn-default" ng-click="openDatePopup($event)" type="button">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding">
        <label for="form-dateOfBirth">Joining Date</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <p class="input-group">
          <input class="form-control" close-text="Close" datepicker-options="dateOptions" id="form-dateOfJoining" is-open="dateOfJoining.opened" name="form-dateOfJoining" ng-model="employee.DateOfJoining" ng-readonly="true" show-weeks='false' type="text" uib-datepicker-popup="{{dateFormat}}"/>
          <span class="input-group-btn">
            <button id="dateOfJoining" class="btn btn-default" ng-click="openDatePopup($event)" type="button">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
        <br/><br/>

      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding">
        <label for="form-dateOfBirth">Date Of Exit</label>
      </div>
      <div class="col-sm-4 LMSLayoutSmallPadding">
        <p class="input-group">
          <input class="form-control" close-text="Close" datepicker-options="dateOptions" id="form-dateOfExit" is-open="dateOfExit.opened" name="form-dateOfExit" ng-model="employee.DateOfExit" ng-readonly="true" show-weeks='false' type="text" uib-datepicker-popup="{{dateFormat}}"/>
          <span class="input-group-btn">
            <button id="dateOfExit" class="btn btn-default" ng-click="openDatePopup($event)" type="button">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
    </div>

    <div class="col-sm-6 LMSLayoutSmallPadding">
      <div class="col-sm-3 LMSLayoutPadding required">
        <label for="inputOfficialEmailID">Official Email Id</label>
      </div>
      <div class="col-sm-6 LMSLayoutSmallPadding">
          <input class="form-control"id="inputOfficialEmailID" name="inputOfficialEmailID" ng-model="employee.OfficialEmailId" type="email" ng-maxlength="50" ng-minlength="1" required ng-pattern="emailFormat"/>
          <span style="color:red" ng-show="userEntryForm.inputOfficialEmailID.$error.required">
            Required!
          </span>
          <span style="color:red" ng-show="userEntryForm.inputOfficialEmailID.$error.pattern">
            Not a valid email!
          </span>
      </div>
    </div>

    <div class="col-sm-12 LMSLayoutPadding">
      <div class="col-sm-3 LMSLayoutPadding">
      </div>
      <div class="col-sm-3 LMSLayoutPadding" ng-show="newEmployee === false">
        <button class="btn btn-success" id="BtnUpdate" data-ng-click="updateEmployee()" ng-disabled="userEntryForm.$invalid">Update Employee</button>
      </div>
      <div class="col-sm-3 LMSLayoutPadding" ng-show="newEmployee === true">
        <button class="btn btn-success" id="BtnAdd" data-ng-click="addEmployee()" ng-disabled="userEntryForm.$invalid">Add Employee</button>
      </div>
      <div class="col-sm-3 LMSLayoutPadding">
      </div>
    </div>
  </div>
</ng-form>
