<div class="col-sm-12 LMSLayoutPadding" ng-controller="userManagementCtrl">

  <div class="col-xs-4 col-xs-offset-4 text-center">
    <h4 class="LmsSectionHeader">User Management</h4>
  </div>

  <div class="col-sm-12 LMSLayoutPadding alert alert-danger top-buffer-small bottom-buffer-small" id="ErrorMessage" ng-show="error">
    <strong>{{errorMessage}}</strong>
  </div>
  <div class="col-sm-12 LMSLayoutPadding">
    <button class="btn btn-primary" id="AddEmployee" ng-click="AddEmployee()">Add Employee</button>
  </div>

  <div class="col-sm-12">
    <table enable-filtering="true" enable-selections="false" enable-sorting="true" fields="['id', 'FirstName', 'LastName', 'Location.Name', 'IsAdmin', 'UserName', 'EmployeeStatus.Name', 'DateOfBirth', 'DateOfJoining', 'DateOfExit', 'OfficialEmailId']"
     items="userList" order-by="FirstName" page-items="20" tr-ng-grid="">
      <thead>
        <tr>
          <th cell-width="10em" display-name="Status" field-name="EmployeeStatus.Name" ><dropdown-filter /></th>
          <th cell-width="10em" display-name="Date Of Birth" field-name="DateOfBirth" display-format="date: '{{displayDateFormat}}'"></th>
          <th cell-width="10em" display-name="Joined On" field-name="DateOfJoining" display-format="date: '{{displayDateFormat}}'"></th>
          <th cell-width="10em" display-name="Date Of Exit" field-name="DateOfExit" display-format="date: '{{displayDateFormat}}'"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td field-name="EmployeeStatus.Name"></td>
          <td>
            <button class="btn btn-success" id="EditEmployee" ng-click="EditEmployee(gridItem)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
